body {
    background-color: rgb(206, 211, 211);
}

.result {
    color: rgb(110, 28, 241);
    text-align:center;
    height: 100px;
    background-color: white;
    width: 280px;

}

.result-header {
    background-color: rgb(110, 28, 241);
    color: ivory;
    text-align:center;
    width: 280px;
    
}

.form {
    color: rgb(110, 28, 241);
    text-align:center;
    height: 130px;
    background-color: white;
    width: 280px;
    border-style: double;
}

.base_input {
    width: 240px;
    height: 100px;
}

#second-column {
    margin-left: 350px;
    position: absolute;
    top: 10px;
}